@import 'slick.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-ghost-white;
  }
}

@layer utilities {
  /* 
    General
  */
  .label-text {
    @apply text-palatinate-blue text-lg font-medium;
  }

  .heading-1 {
    @apply text-5xl text-coarse-wool font-bold leading-normal mt-4;
  }

  .heading-2 {
    @apply text-[2.5rem] text-coarse-wool font-semibold leading-snug mt-4;
  }

  .heading-3 {
    @apply text-2xl text-coarse-wool font-medium leading-snug;
  }

  .heading-4 {
    @apply text-xl text-coarse-wool font-medium leading-snug;
  }

  .heading-5 {
    @apply text-lg text-coarse-wool font-medium leading-snug;
  }

  .heading-6 {
    @apply text-base text-coarse-wool font-medium leading-snug;
  }
}

@layer components {
  /* 
    Navbar 
  */

  .nav-link:is(:hover, .active) div > * {
    @apply text-palatinate-blue cursor-pointer;
  }

  .nav-link a:focus {
    @apply text-palatinate-blue cursor-pointer;
  }

  .custom-underline {
    @apply h-[2px] w-full scale-0 bg-palatinate-blue absolute -bottom-1 left-0 opacity-0 transition-all rounded-full origin-left duration-300;
  }

  .nav-link:is(:hover, .active) .custom-underline,
  .nav-link a:focus ~ .custom-underline {
    @apply opacity-100 scale-100;
  }

  /* 
    Our Values
  */

  .our-values-item {
    @apply cursor-default w-full sm:w-[550px] xl:w-[48%] 2xl:w-[570px] rounded-lg bg-white sm:px-12 sm:py-14 px-8 py-12 shadow-black-sm hover:shadow-black-md hover:scale-[1.02] transition-all;
  }

  .our-values-item__heading {
    @apply heading-3 -mt-1 mr-2 w-auto;
  }

  .our-values-item__description {
    @apply text-brave-purple font-light text-lg leading-9 mt-5;
  }

  /* 
    Blog Detail 
  */

  .blog-detail h2 {
    @apply text-3xl text-coarse-wool font-semibold leading-snug mt-10;
  }

  .blog-detail h3 {
    @apply text-2xl text-coarse-wool font-medium leading-snug;
  }

  .blog-detail h4 {
    @apply text-xl text-coarse-wool font-medium leading-snug;
  }

  .blog-detail h5 {
    @apply text-lg text-coarse-wool font-medium leading-snug;
  }

  .blog-detail__main-content p {
    @apply text-brave-purple font-normal text-lg leading-10 mt-3;
  }
  /* 
    Star 
  */

  .stars {
    @apply relative min-w-[200px] inline-flex;
  }

  .star {
    mask: url('/images/star.svg') no-repeat center left;
    @apply absolute z-10 inline-flex;
  }

  .star:not(.placeholder) {
    @apply bg-pale-marigold;
  }

  .star.placeholder {
    @apply bg-gray-200 z-[8];
  }
}

:-webkit-autofill {
  filter: none; /* needed for firefox! */
  box-shadow: 0 0 0 100px white inset;
}

#categoryList::-webkit-scrollbar {
  width: 0;
}
