@import '../components/Navbar/index.css';
@import '../components/Star/index.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-ghost-white;
  }
}

@layer utilities {
  /* 
    General
  */
  .label-text {
    @apply text-palatinate-blue text-lg font-medium;
  }

  .heading-1 {
    @apply text-4xl text-coarse-wool font-bold leading-normal mt-4;
  }

  .heading-2 {
    @apply text-[2rem] text-coarse-wool font-semibold leading-snug mt-4;
  }

  .heading-3 {
    @apply text-2xl text-coarse-wool font-medium leading-snug;
  }

  .heading-4 {
    @apply text-xl text-coarse-wool font-medium leading-snug;
  }

  .heading-5 {
    @apply text-lg text-coarse-wool font-medium leading-snug;
  }

  .heading-6 {
    @apply text-base text-coarse-wool font-medium leading-snug;
  }

  /* 
    Our Values
  */

  .our-values-item {
    @apply cursor-default w-[550px] rounded-lg bg-white px-12 py-14 shadow-black-sm hover:shadow-black-md hover:scale-[1.02] transition-all;
  }

  .our-values-item__heading {
    @apply heading-3 -mt-1 mr-2;
  }

  .our-values-item__description {
    @apply text-brave-purple font-light text-lg leading-9 mt-5;
  }

  /* 
    Blog Detail 
  */

  .blog-detail h2 {
      @apply text-3xl text-coarse-wool font-semibold leading-snug mt-10;
  }

  .blog-detail h3 {
      @apply text-2xl text-coarse-wool font-medium leading-snug;
  }

  .blog-detail h4 {
      @apply text-xl text-coarse-wool font-medium leading-snug;
  }

  .blog-detail h5 {
      @apply text-lg text-coarse-wool font-medium leading-snug;
  }

  .blog-detail__main-content p {
      @apply text-brave-purple font-normal text-lg leading-10 mt-3;
  }
}

/* 
  Slick Slide
*/

.slick-slide > div > :is(.testimony-item) {
  margin: 3.5rem 10px auto;
}

.slick-slide > div > :is(.blog-item) {
  margin: 1.5rem 10px auto;
}

.slick-track {
  display: flex;
}

.slick-list {
  margin: 0 -10px;
  height: 100%;
}

.slick-arrow {
  display: none !important;
}

.slick-dots li button:before {
  font-size: 10px;
}

.slick-dots li.slick-active button::before {
  color: #2B3BE5;
}


