@import '../components/Navbar/index.css';
@import '../components/OurValues/index.css';
@import '../components/Star/index.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-ghost-white;
  }
}

@layer utilities {
  .label-text {
    @apply text-palatinate-blue text-lg font-medium;
  }

  .heading-1 {
    @apply text-4xl text-coarse-wool font-bold leading-snug mt-4;
  }

  .heading-2 {
    @apply text-3xl text-coarse-wool font-semibold leading-snug mt-4;
  }

  .heading-3 {
    @apply text-2xl text-coarse-wool font-medium leading-snug;
  }

  .heading-4 {
    @apply text-xl text-coarse-wool font-medium leading-snug;
  }

  .heading-5 {
    @apply text-lg text-coarse-wool font-medium leading-snug;
  }

  .heading-6 {
    @apply text-base text-coarse-wool font-medium leading-snug;
  }
}

.slick-slide > div {
  margin: 0 10px;
}

.slick-track {
  display: flex;
}

.slick-list {
  margin: 0 -10px;
  height: 100%;
}

.slick-arrow {
  display: none !important;
}

.slick-dots li button:before {
  font-size: 10px;
}

.slick-dots li.slick-active button::before {
  color: #2B3BE5;
}


